<section class="d-inline row" [attr.data-isBg]="id + '@' + isBg">
  <button
    type="button"
    class="nes-btn col-12"
    [ngClass]="isBg ? 'is-warning' : 'is-primary'"
    (click)="openDialog()"
  >
    {{ isBg ? 'Change BG Color' : 'Change Color' }}
  </button>
</section>
<section>
  <dialog class="nes-dialog is-dark is-rounded" [id]="id">
    <form method="dialog">
      <div class="row allow-scroll-through-colors">
        <button
          (click)="changeColor(color, isBg)"
          *ngFor="let color of buttonsColors"
          class="nes-btn col-md-1 col-xs-1 col-sm-1 color-button"
          [ngStyle]="{ backgroundColor: color }"
        ></button>
      </div>
      <menu class="dialog-menu">
        <button class="nes-btn">Cancel</button>
      </menu>
    </form>
  </dialog>
</section>
