<section id="annoy-the-user-container">
  <span [ngSwitch]="num">
    <div class="la-pacman la-3x" id="annoy-the-user" *ngSwitchCase="1">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div
      style="color: #64d6e2"
      class="la-square-jelly-box la-3x"
      *ngSwitchCase="2"
      id="annoy-the-user"
    >
      <div></div>
      <div></div>
    </div>
    <div
      class="la-timer la-3x"
      *ngSwitchCase="3"
      id="annoy-the-user"
      style="color: #f4696b"
    >
      <div></div>
    </div>
    <div
      class="la-ball-8bits la-3x"
      style="color: #A3D9D3"
      *ngSwitchCase="4"
      id="annoy-the-user"
    >
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </span>
</section>
