<iota-toolbar></iota-toolbar>
<section class="mt-3">
  <iota-image-container></iota-image-container>
</section>
<main class="container">
  <div class="row">
    <section class="col-12"></section>
    <section class="col-12 mt-5">
      <iota-options></iota-options>
    </section>
  </div>
</main>
<iota-pacman-spinner *ngIf="composer.loading"></iota-pacman-spinner>
<div class="start-me-popup" *ngIf="!layout.state.isSmall">
  <a
    href="https://github.com/MohammedAl-Rowad/iota"
    target="_blank"
    rel="noopener"
    class="github-link active"
    ><p class="nes-balloon from-right">
      Give me a <i class="nes-icon is-small star"></i> <br />on GitHub
    </p>
    <i class="nes-octocat animate"></i>
  </a>
</div>
