.github-link {
  position: fixed;
  bottom: 9px;
  right: -240px;
  z-index: 999;
  display: flex;
  height: 100px;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}
.github-link.active {
  right: 10px;
}
.github-link:hover {
  text-decoration: none;
}
.github-link > p.nes-balloon {
  align-self: flex-start;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  color: #333;
}
.github-link > i.nes-octocat {
  align-self: flex-end;
}
