<main class="nes-container is-rounded is-dark">
  <section class="container">
    <section class="row">
      <div class="col-10">
        <h1>Iota</h1>
      </div>
      <div class="col-2">
        <a
          href="https://github.com/MohammedAl-Rowad"
          target="_blank"
          class="mr-1"
        >
          <i class="nes-icon github is-small"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/mohammed-al-rowad/"
          target="_blank"
          class="mr-1"
        >
          <i class="nes-icon linkedin is-small"></i>
        </a>
        <a
          href="https://medium.com/@mohammedalrowad"
          target="_blank"
          class="mr-1"
        >
          <i class="nes-icon medium is-small"></i>
        </a>
        <a
          href="https://www.youtube.com/channel/UC1Uw_GN4sodGisimwZNzMoA"
          target="_blank"
          class="mr-1"
        >
          <i class="nes-icon youtube is-small"></i>
        </a>
      </div>
    </section>
  </section>
</main>
